ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.wrap {
    display: flex;
    flex-wrap: wrap;
}

ul.account-actions li {
    width: 50%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

@media (max-width: 768px) {
    ul.account-actions li {
        width: 50%;
    }
}
