<div class="content">
    <div class="container">
        <div id="mumbojumbo" class="row justify-content-center">
            <div class="col-md-8 text-block">
                <h3>@Brain.RandomText.Title</h3>
                <p>@((MarkupString)Brain.RandomText.Text)</p>
            </div>
        </div>
    </div>
</div>